@import "config";
@import "utilities";
@import "mobile";
@import "button";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: $font-stack;
  line-height: 1.6;
  background-color: $light-color;
  color: $light-color;
  font-size: 16px;
}
.headcover {
  background:
        /* top, transparent black, faked with gradient */ linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ),
    url("/image/IMG_0450.jpeg");

  background-size: cover;
  background-position: center center;
  max-width: 100%;
  min-height: 800px;
  nav {
    display: flex;
    justify-content: space-around;
    align-items: initial;
    ul {
      list-style-type: none;
      display: flex;
      li {
        padding: 20px;
        a {
          text-decoration: none;
          color: $light-color;
        }
      }
    }
    h1 {
      padding: 20px;
      letter-spacing: 2px;
      font-size: 32px;
    }
  }

  section {
    text-align: center;
    margin-top: 400px;
    letter-spacing: 1.8px;
    h1 {
      font-family: $header-font;
      font-weight: 700;
      font-size: 3em;
    }
    h1::before {
      background: $light-color;
      content: " ";
      width: 60px;
      display: inline-block;
      height: 2px;
      position: absolute;
      left: 30px;
      top: 50%;
    }
    h1::after {
      background: $light-color;
      content: " ";
      width: 60px;
      display: inline-block;
      height: 2px;
      position: absolute;
      top: 50%;
      right: 30px;
    }
    .text-control {
      width: 450px;
      margin: auto;
      position: relative;
    }
  }
}
#animation-trick {
  animation-name: showup;
  animation-duration: 2s;
  @keyframes showup {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
